.section-header {
  font-size: var(--font-xl);
  font-weight: 500;
  margin: 3.5rem 0 0 5.5rem;
  width: fit-content;
}

.listings {
  display: grid;
  grid-template-columns: repeat(4, minmax(15rem, 18rem));
  margin: 2rem 5.5rem 10rem 5.5rem;
  gap: 3rem 2rem;
  width: fit-content;
}

.listing {
  display: grid;
  grid: repeat(5, auto) / auto 1fr auto;
}

.listing__pfp {
  grid-row: 1 / 3;
  border-radius: 50%;
  width: 100%;
  max-width: 2rem;
  margin: 0 0.5rem 0 1rem;
}

.listing__username {
  grid-column: 2 / 4;
  font-size: var(--font-md);
  font-weight: 500;
  color: var(--grey-7);
  margin-bottom: -0.1rem;
}

.listing__age {
  grid-column: 2 / 4;
  font-size: var(--font-sm);
  color: var(--grey-4);
}

.listing__thumbnail {
  grid-column: 1 / 4;
  border-radius: 8px;
  margin-top: 0.75rem;
  width: 100%;
  aspect-ratio: 1/ 1;
  object-fit: cover;
  min-width: 100%;
}

.listing__name {
  grid-column: 1 / 4;
  margin: 0.75rem 0.5rem -0.2rem 0.5rem;
  color: var(--grey-7);
  font-weight: 500;
}

.listing__condition {
  display: flex;
  align-items: end;
  grid-column: 1 / 3;
  font-size: var(--font-md);
  color: var(--grey-4);
  margin-left: 0.5rem;
}

.listing__price {
  font-weight: 500;
  text-align: right;
  margin-right: 0.5rem;
}

.content {
  padding-top: 9rem;
  width: fit-content;
  margin: auto;
}
