:root {
  /* Font sizes */
  --font-xs: 0.5rem;
  --font-sm: 0.625rem;
  --font-md: 0.75rem;
  --font-lg: 1rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 2rem;

  /* Colours */
  --brand-1: #fecf7f;
  --brand-2: #ffc567;
  --brand-3: #feb640;
  --grey-1: #f4f4f5;
  --grey-2: #e4e4e7;
  --grey-3: #d4d4d8;
  --grey-4: #9f9fa9;
  --grey-5: #71717b;
  --grey-6: #52525c;
  --grey-7: #3f3f47;
  --grey-8: #27272a;
  --grey-9: #18181b;
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--font-lg);
}

button:hover {
  cursor: pointer;
}

label {
  cursor: pointer;
}

.textbox {
  background-color: var(--grey-1);
  color: var(--grey-5);
  border-radius: 8px;
}

.textbox::placeholder {
  color: var(--grey-4);
}

.display-contents {
  display: contents;
}

textarea:focus,
input:focus {
  outline: 1px solid var(--grey-5);
}

.animation {
  position: fixed;
  top: 50vh;
  left: 50vw;
  translate: -50% -50%;
}

.dropdown {
  background-color: white;
  padding: 1rem 3rem 1rem 1rem;
  position: fixed;
  right: 1.5rem;
  top: 5.5rem;
  color: var(--grey-5);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  box-shadow: 0 4px 18.1px -9px var(--grey-3);
}

.dropdown li {
  padding: 0.2rem 0;
}

.cursor-pointer {
  cursor: pointer;
}
