.header {
  font-size: var(--font-3xl);
  font-weight: 500;
  text-align: center;
  margin: 10rem 0 4rem 0;
}

.header--tighter {
  margin-top: 7rem;
}

.label {
  display: block;
  font-size: var(--font-md);
  font-weight: 500;
  color: var(--grey-5);
  width: 21rem;
  margin: 0 auto 0.25rem auto;
  padding-left: 1rem;
}

.textbox--form {
  display: block;
  width: 21rem;
  height: 3rem;
  margin: 0 auto 1.5rem auto;
  padding: 0 1.5rem;
}

.btn {
  display: block;
  color: white;
  background-color: black;
  border-radius: 8px;
  padding: 1rem 2rem;
  font-weight: 600;
  margin: 5rem auto 0 auto;
}

.alt-link {
  display: block;
  margin-top: 2rem;
  text-align: center;
}

.alt-link:hover {
  text-decoration: underline;
}