.navbar {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0 1rem 0;
  border-bottom: 1px solid var(--grey-3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.navbar__logo {
  width: 100%;
  max-width: 3rem;
  margin-right: 1rem;
}

.textbox--search {
  width: 100%;
  max-width: 42rem;
  height: 3rem;
  padding: 0 1.5rem;
}

.navbar__search-wrapper {
  flex: 1;
  padding-right: 1.5rem;
}

.navbar__btn {
  display: none;
}

.navbar__search-wrapper + .navbar__btn {
  margin-left: 1.5rem;
}

.navbar__top-wrapper {
  padding: 0 1.5rem;
  display: flex;
}

@media screen and (min-width: 500px) {
  .navbar__btn {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: var(--grey-7);
    gap: 0.5rem;
  }
}

.navbar__pfp {
  width: 100%;
  max-width: 3rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.category-selector {
  grid-column: 1 / 5;
}

.categories {
  display: flex;
  padding: 2rem 5.5rem 0 0.5rem;
  color: var(--grey-4);
  font-size: var(--font-md);
  overflow: scroll;
  scrollbar-width: none;
}

.categories li {
  min-width: max-content;
  padding: 0 0.75rem;
}

.categories li:hover {
  color: var(--grey-7);
}

.subcategories {
  display: flex;
  gap: 2.5rem;
  padding: 0 5.5rem 0 1.5rem;
  overflow: scroll;
  scrollbar-width: none;
}

.subcategories a {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  font-size: var(--font-sm);
  color: var(--grey-5);
  padding: 2rem 0 1rem 0;
  min-width: max-content;
}

.subcategories img {
  width: 100%;
  max-width: 6rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
}

@media screen and (min-width: 450px) {
  .categories {
    font-size: var(--font-lg);
    padding: 2rem 5.5rem 0 4rem;
  }

  .categories li {
    padding: 0 1.5rem;
  }

  .subcategories {
    padding: 0 5.5rem 0 5.5rem;
  }

  .subcategories img {
    max-width: 8rem;
  }

  .subcategories a {
    font-size: var(--font-md);
  }
}
