.navbar {
  display: grid;
  grid: repeat(2, auto) / max-content 1fr auto auto;
  padding: 1.5rem 0 1rem 0;
  border-bottom: 1px solid var(--grey-3);
}

.navbar__logo {
  width: 100%;
  max-width: 3rem;
  margin: 0 1rem 0 1.5rem;
}

.textbox--search {
  width: 100%;
  max-width: 42rem;
  height: 3rem;
  padding: 0 1.5rem;
}

.navbar__btn {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.navbar__btn:last-of-type {
  margin-right: 1.5rem;
}

.category-selector {
  grid-column: 1 / 5;
}

.categories {
  display: flex;
  padding: 2rem 5.5rem 0 4rem;
  color: var(--grey-4);
  font-size: var(--font-lg);
  overflow: scroll;
  scrollbar-width: none;
}

.categories li {
  min-width: max-content;
  padding: 0 1.5rem 0 1.5rem;
}

.categories li:hover {
  color: var(--grey-7);
}

.subcategories {
  display: none;
  gap: 2.5rem;
  padding: 0 5.5rem 0 5.5rem;
  overflow: scroll;
  scrollbar-width: none;
}

.subcategories a {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  font-size: var(--font-md);
  color: var(--grey-5);
  padding: 2rem 0 1rem 0;
  min-width: max-content;
}

.subcategories img {
  width: 100%;
  max-width: 8rem;
}
