.smallnav {
  margin-bottom: 2rem;
}

.smallnav__header {
  font-size: var(--font-3xl);
}

.smallnav__btn {
  display: none;
}

.listing-container {
  margin-top: 4rem;
}

.listing {
  display: flex;
  width: 21rem;
  height: fit-content;
  margin: auto;
  justify-content: space-between;
  margin-top: 0.75rem;
  padding: 0.75rem 0.75rem 0.3rem 0.75rem;
  border-radius: 8px;
  border: 1px solid var(--grey-2);
  gap: 2rem;
}

.photo {
  height: fit-content;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-sm);
  color: var(--grey-5);
}

.photo img {
  height: 5rem;
  width: 5rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.info-action {
  width: 11.5rem;
}

.title {
  font-size: var(--font-lg);
  margin-top: 0.5rem;
}

.condition-price {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.condition {
  color: var(--grey-5);
  font-size: var(--font-sm);
}

.price {
  margin-top: 0.3rem;
  font-size: var(--font-sm);
  font-weight: 600;
}

.actions {
  display: flex;
  gap: 0.5rem;
  justify-content: right;
  margin-top: 0.75rem;
}

.actions div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-xs);
  font-weight: 400;
  text-wrap: nowrap;
}

.bump {
  border-radius: 8px;
  border: 1px solid var(--grey-3);
  padding: 0.25rem 0.5rem;
}

@media screen and (min-width:430px) {
  .smallnav {
    margin-bottom: 2rem;
  }

  .smallnav__header {
    font-size: var(--font-3xl);
  }

  .smallnav__btn {
    display: none;
  }

  .listing-container {
    margin-top: 4rem;
  }

  .listing {
    width: 26rem;
    margin-top: 1rem;
    padding: 1rem 1rem 0.5rem 1rem;
    border: 1px solid var(--grey-2);
    gap: 2rem;
  }

  .photo {
    width: 5.5rem;
    font-size: var(--font-sm);
  }

  .photo img {
    height: 5.5rem;
    width: 5.5rem;
    margin-bottom: 0.5rem;
  }

  .info-action {
    width: 17rem;
  }

  .title {
    font-size: var(--font-xl);
    margin-top: 0.5rem;
  }

  .condition-price {
    margin-top: 1rem;
  }

  .condition {
    font-size: var(--font-sm);
  }

  .price {
    margin-top: 0.3rem;
    font-size: var(--font-sm);
  }

  .actions {
    gap: 0.75rem;
    margin-top: 0.75rem;
  }

  .actions div {
    gap: 1rem;
    font-size: var(--font-sm);
    text-wrap: nowrap;
  }

  .bump {
    padding: 0.25rem 0.5rem;
  }
}

@media screen and (min-width: 550px) {

  .smallnav__btn {
    display: flex;
    margin-right: 1rem;
    font-size: var(--font-lg);
  }

  .listing {
    width: 32rem;
    margin-top: 2rem;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 8px;
  }

  .photo {
    width: 7rem;
    font-size: var(--font-md);
  }

  .photo img {
    height: 7rem;
    width: 7rem;
    margin-bottom: 0.5rem;
  }

  .info-action {
    width: 18rem;
  }

  .title {
    font-size: var(--font-xl);
    margin-top: 0.5rem;
  }

  .condition-price {
    margin-top: 1rem;
  }

  .condition {
    font-size: var(--font-md);
  }

  .price {
    margin-top: 0.3rem;
    font-size: var(--font-md);
  }

  .actions {
    gap: 1.5rem;
    margin-top: 1.5rem;
  }

  .actions div {
    gap: 1rem;
    font-size: var(--font-md);
    text-wrap: nowrap;
  }

  .bump {
    padding: 0.5rem 1rem;
  }

}

@media screen and (min-width: 900px) {
  .smallnav {
    margin-bottom: 2rem;
  }

  .listing-container {
    margin-top: 4rem;
  }

  .listing {
    width: 44rem;
    margin-top: 2rem;
    padding: 2rem 2rem 1rem 2rem;
    gap: 2rem;
  }

  .photo {
    width: 9.5rem;
    font-size: var(--font-md);
  }

  .photo img {
    height: 9.5rem;
    width: 9.5rem;
    margin-bottom: 0.5rem;
  }

  .info-action {
    width: 30rem;
  }

  .title {
    font-size: var(--font-2xl);
    margin-top: 0.5rem;
  }

  .condition-price {
    margin-top: 1rem;
  }

  .condition {
    font-size: var(--font-lg);
  }

  .price {
    margin-top: 0.3rem;
    font-size: var(--font-lg);
  }

  .actions {
    gap: 3rem;
    margin-top: 2.5rem;
  }

  .actions div {
    gap: 1rem;
    font-size: var(--font-lg);
  }

  .bump {
    padding: 0.5rem 1rem;
  }





}